/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/**
 * Styles
 */
hr {
  margin-top: 1em;
  margin-bottom: 1em;
}

.inline-list {
  list-style-type: square;
  line-height: 2em;
}
.inline-list li {
  display: inline-block;
  margin-left: 1rem;
}

.card {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #E7E7E7;
  border-radius: .5rem;
}
.avatar {
  border-radius: 50%;
}

/**
 * src/Picture.jsx
 */
.background { height: 100vh; }
.background--active { background-color: #b2d3ff; }
.picture--active { outline: 3px dashed #1f4f93; }
